@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background-image: url(../images/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 30px;
  }

  &__content {
  }
  &__title {
    @extend %title-font;
    color: $default;
    font-size: 80px;
    line-height: 80px;
    font-weight: 900;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  &__subtitle {
    @extend %title-font;
    color: $default;
    font-size: 48px;
    line-height: 57px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  &__text {
    @extend %text-font;
    color: $default;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 561px;
    margin-bottom: 44px;
  }
  &__btn {
    @extend %text-font;
    width: 300px;
    height: 48px;
    background: #fd6655;
    border-radius: 6px;
    border: none;
    color: #ffffff;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 56px;
  }
  &__img {
    margin: 0 auto;
    margin-bottom: 46px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item {
    margin-right: 32px;
  }

  &__link {
    @extend %text-font;
    color: $default;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  &__title {
    margin-right: 250px;
    @extend %title-font;
    color: $default;
    font-size: 28px;
    line-height: 33px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__img {
    margin-right: 12px;
  }
}
