@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  background-image: url(../images/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 30px;
  }

  // &__top-info {
  //   margin-bottom: 45px;
  // }

  // &__info {
  //   display: flex;
  // }

  // &__top-cont {
  //   margin-right: 30px;
  //   @extend %text-font;
  //   color: $default;
  //   font-size: 14px;
  //   line-height: 17px;
  //   font-weight: 500;
  // }

  // &__top-link {
  //   margin-right: 30px;
  //   text-transform: uppercase;
  //   @extend %text-font;
  //   color: $default;
  //   font-size: 14px;
  //   line-height: 17px;
  //   font-weight: 600;
  // }
}

.menu {
  &__list {
    display: flex;
    //   justify-content: space-between;
    //   align-items: center;
    //   padding: 25px 0 30px;
    //   margin-top: 27px;
  }

  &__list-item {
    margin-right: 32px;
  }
  // &__list-item:last-child {
  //   margin-right: 0px;
  // }

  &__link {
    @extend %text-font;
    color: $default;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }

  &__title {
    margin-right: 270px;
    @extend %title-font;
    color: $default;
    font-size: 28px;
    line-height: 33px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__img {
    margin-right: 12px;
  }
}
